* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header-content {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;
    
}

.logo-content {
    display: flex;
}

.title-logo {
    height: 45px;
    width: 45px;
}

.address-text {
    margin-top: 3px;
    color: #008CFF;
}

.add-text {
    font-size: 15px;
    font-weight: 600;
}

.title-content {
    display: flex;
    flex-direction: column;
}

h2 {
    border-radius: 8px 8px 0px 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #008CFF;
    width: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 0px;
}

.input-content {
    width: 90%;
    margin: 20px;
    height: 30px;
}

.main-content {
    border-radius: 8px;
    width: 46%;
    box-shadow: 5px 5px 8px #00000029;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.section-content {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

select {
    width: 85%;
    margin: 0 20px 0 0;
    padding: 2px;
}

button {
    background-color: lightblue;
    border: 1px solid #008CFF;
    color: #008CFF;
    margin: 20px;
    padding: 10px 30px;
}